div.div__greetingPage {
  display: flex;
  justify-content: center;
  /* background-color: green; */
  height: 100%;
  align-items: center;
  flex-direction: row;
}

div.div__LogInSignUpBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(230, 230, 230);
  border: 1px solid lightgrey;
  box-shadow: 0.2rem 0.3rem 0.9rem 0.2rem rgba(177, 177, 177, 0.5);
  height: 50vh;
  border-radius: 40px;
  align-items: center;
  /* justify-content: center; */
  padding: 2em;
}

div.div__LogInSignUpBlock > div {
  flex-grow: 1;
}

div.div__LogInSignUpBlock button {
  /* font-family: Lato, sans-serif; */

  border: 1px solid rgb(0, 96, 169);
  border-radius: 20px;
  line-height: 1.2em;
  font-size: 1.8em;
  color: white;
  width: 8em;
  align-self: center;
  background-color: rgb(0, 96, 169);
  padding: 0.5em;
  cursor: pointer;
  margin: 3px;
}

div.div__LogInSignUpBlock button:focus,
div.div__LogInSignUpBlock button:hover {
  outline: 0;
  border: 1px dashed white;
}
