div.inbox__messageHead {
  border: 1px solid lightgrey;
  border-radius: 20px;
  margin: 10px 0 auto;
  padding: 15px;
  display: flex;
  transition: all 0.2s linear;
}

div.messageHead__avatar {
  display: inline-block;
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}

div.messageHead__avatar img {
  width: 50px;
  opacity: 75%;
  transition: opacity 0.2s linear;
}

div.inbox__messageHead:hover .messageHead__avatar img {
  opacity: 100%;
}

div.inbox__messageHead:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  color: rgb(5, 77, 141);
  /* border: 5px solid green; */
  /* font-size: 50px; */
}
