.messageSession {
  margin: auto;
  width: 400px;
}

.persons {
  display: grid;
  height: 20px;
  width: 400px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.actions {
  display: flex;
}

.announcement {
  font-size: 1.4em;
  text-align: center;
}

.individual_message_right,
.individual_message_left {
  display: flex;
  /* align-items: flex-start; */
}
.individual_message_right {
  flex-direction: row-reverse;
}
.individual_message_left {
  flex-direction: row;
}
.person_name {
  padding-left: 5px;
  padding-right: 5px;
}
