.sms__label {
  font-size: 0.95em;
}

.sms__moreInfo {
  color: rgb(51, 51, 51);
  margin-left: 3px;
  margin-top: 1px;
}

.phone__number__container {
  display: inline-block;
}

.phone__number__container span {
  margin: 0 2px;
}

.phone__number__container span:nth-child(2) {
  padding-left: 14px;
  color: #4277eb;
}

.phone__number__container span:nth-child(2):hover {
  text-decoration: underline;
  cursor: pointer;
}

.section {
  padding: 10px;
  padding-left: 54px;
}

.section input[type="radio"],
.section input[type="checkbox"] {
  display: none;
}

.radio-container {
  margin-bottom: 10px;
  width: 100%;
}

.radio-container label {
  position: relative;
  display: flex;
}

.radio-container span::before,
.radio-container span::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.radio-container span.radio:hover {
  cursor: pointer;
}

.radio-container span.radio::before {
  left: -52px;
  width: 45px;
  height: 25px;
  background-color: #c5c5c5;
  border-radius: 50px;
}

.radio-container span.radio::after {
  left: -49px;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  background-color: #6c788a;
  transition: left 0.25s, background-color 0.25s;
}

input[type="radio"]:checked + label span.radio::after {
  left: -27px;
  background-color: #4277eb;
}

.radio-container span.checkbox::before {
  width: 27px;
  height: 27px;
  background-color: #fff;
  left: -35px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border-color 0.2s;
}

.radio-container span.checkbox:hover::before {
  border: 3px solid #f0ff76;
}

.radio-container span.checkbox::after {
  content: "\f00c";
  font-family: "FontAwesome";
  left: -31px;
  top: 2px;
  color: transparent;
  transition: color 0.2s;
}

input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62afff;
}
