div.userProfile__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.userProfile__container div {
  flex-basis: 50%;
}

div.userProfile__container input {
  margin: 5px;
  width: 80%;
  padding: 8px;
}
/* div.userProfile__interface {

} */

div.avatar__container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

div.avatar__container span.avatar__window {
  display: inline-block;
  margin: 5px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid white;
}

span.avatar__window img {
  width: 150px;
}

.modal__butons button {
  margin: 5px;
}
