/* TODO Add site wide styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

a {
  text-decoration: none;
}

.div-hidden {
  display: hidden;
}

html,
body {
  height: 100%;
  margin: 0px;
}
