/* TODO Add site wide styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

div {
  display: block;
}

html {
  min-height: 100%; /* make sure it is at least as tall as the viewport */
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  height: 100%; /* force the BODY element to match the height of the HTML element */
}

a {
  text-decoration: none;
}

a,
a:visited,
a:active {
  color: rgb(2, 117, 143);
}

a:hover {
  color: rgb(155, 208, 255);
}

button,
input {
  border: 1px solid lightgrey;
  outline: 0;
  padding: 15px;
  border-radius: 15px;
  transition: border 0.15s linear;
}

button:hover,
input:hover {
  border: 1px solid rgb(159, 212, 230);
}
.div-hidden {
  display: hidden;
}

div#div__bodyContent {
  background-color: #f2f6fd;
  position: absolute;
  margin-top: 5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid forestgreen; */
}

div#div__innerContent {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  padding: 1rem 1.6rem 0 1.6rem;
  min-width: 75vw;
  max-width: 80vw;
  background-color: white;
  filter: drop-shadow(0 0.25rem 0.75rem rgba(0, 0, 0, 0.1));
}

img.img__preview {
  max-width: 8rem;
}

div.div__dogprofileContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

em {
  color: rgb(2, 117, 143);
}
