.div__dogcard {
  flex-grow: 1;
  margin: 4px 8px 8px 0;
  display: flex;
  flex-direction: row;
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 10px;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  overflow: hidden;
}

img.img__dogProfileImg {
  max-height: 210px;
  max-width: 140px;
  object-fit: scale-down;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
}

div.div__profileImg {
  /* outline: 2px solid red; */
  padding-right: 1.5rem;
}
