.div__logs_container {
  border: 1px solid lightgrey;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  width: 27rem;
  padding: 2.5rem;
  text-align: center;
}

.div__logs_container h1 {
  padding-bottom: 1rem;
}

.div__logs {
  margin-top: 1rem;
}
