div.div__chatSession {
  /* background-color: #f0f0f0; */
  border: 1px solid lightgrey;
  border-radius: 20px;
  margin: 0 auto;
  width: 50rem;
  padding: 3.5rem;
}

div.div__chatSession input {
  width: 20rem;
  height: 2.1rem;
  outline: 0;
  border-radius: 2rem 0 0 2rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgb(230, 244, 252);
  /* line-height: 1.2rem; */
  border: 1px solid white;
}
/*
div.div__chatSession input:focus,
div.div__chatSession input:active,
div.div__chatSession input:hover {

} */

div.div__chatSession button {
  border-radius: 0rem 2rem 2rem 0rem;
  outline: 0;
  width: 14rem;
  height: 2.14rem;
  background-color: rgb(39, 94, 162);
  color: black;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  padding: 1px;
  border: 1px solid white;
}

div.div__chatSession button:hover {
  border: 1px dashed white;
}

div.div__msgSend {
  /* border: 3px solid grey; */
  align-content: center;
  text-align: center;
}

.div__chatUsername {
  padding: 0.5rem;
  border-radius: 19px;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  line-height: 1.2rem;
  margin-right: 5px;
}

.div__username0 {
  background-color: rgba(108, 158, 224, 0.5);
}

.div__username1 {
  background-color: rgba(43, 107, 226, 0.5);
}

.div__authorizedUsers {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.div__messageBubble {
  color: rgb(14, 14, 14);
  padding: 0.3rem 0.3rem 0.6rem 0.5rem;
  border-radius: 0.8rem;
  margin: 4px 0 4px 0;
  line-height: 1.3rem;
}

.span__username-bold {
  font-weight: 600;
}
